.immo {
  display: flex;
  flex-direction: column;
  gap: 1em;
  text-align: start;
}

.scrapper {
  display: flex;
  align-items: center;
  gap: 1em;
  margin: auto;
}

.immo-form {
    padding-inline: 1em;
}

.immo-summary {
    text-align: center;
    align-items: center;
}
.immo-summary.default {
  background-color: #f9f9f9;
}
.immo-summary.positive {
  background-color: #d0f0c0;
}
.immo-summary.negative {
  background-color: #f8d7da;
}